<html>
    <head>
    </head>
        <body>
            <div class = "img">
                <img src="../images/unicornjin.png"/>
            </div>
            <style>
                .img{
                    width: 700px;
                    height: 500px;
                    margin-left: auto;
                    margin-right: auto;
                
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            </style>

            <div class = "desc">
                <br>
                기업가치 1조! 유니콘 기업의 CEO <mark>[유니콘 진]</mark>이 되었습니다!
            </div>
            <style>
                .desc{
                    text-align: center;
                    font-size: large;
                    font-weight: bold;
                }
            </style>



            <div class = "replay">
                <br>
                다시 플레이하셔서 기업가치를 더 올려주세요!
            </div>
            <style>
                .replay{
                    text-align: center;
                    font-size: medium;
                    font-weight: bold;
                }
            </style>

            
            <div class = "button">
                <br>
                <input type = "button" value = "게임 다시하기" onclick ="(() => {location.href = '/game'})()"/>
            <style>
                .button{
                    width: 80;
                    height: 60;
                    margin-left: auto;
                    margin-right: auto;
                }

            </style>
            </div>
        </body>
</html>
