<html>
    <head>
    </head>
        <body>
            <div class = "img">
                <img src="../public/images/golfjin.png"/>
            </div>
            <style>
                .img{
                    width: 843;
                    height: 699;
                    margin-left: auto;
                    margin-right: auto;
                
                }
            </style>

            <div class = "desc">
                <br>
                Welcome to Silver Town! <mark>[실버타운 골퍼 진]</mark>이 되었습니다!
            </div>
            <style>
                .desc{
                    text-align: center;
                    font-size: large;
                    font-weight: bold;
                }
            </style>



            <div class = "replay">
                <br>
                다시 플레이하셔서 기업가치를 더 올려주세요!
            </div>
            <style>
                .replay{
                    text-align: center;
                    font-size: medium;
                    font-weight: bold;
                }
            </style>

            
            <div class = "button">
                <br>
                <input type = "button" value = "게임 다시하기" onclick ="movepage()"/>

                <script type = "text/javascript">
                    function movepage() {
                        location.href = "/";
                    }
                </script>
            <style>
                .button{
                    width: 80;
                    height: 60;
                    margin-left: auto;
                    margin-right: auto;
                }

            </style>
            </div>
        </body>
</html>
